<p>Menu Principal</p>
<ul data-role="listview" data-inset="true">
  <li><%= link_to "Acceuil",     "#" %></li>
  <li><%= link_to "Aide",        "#" %></li>
  <li><%= link_to "A propos",    "#" %></li>
  <li><%= link_to "Inscription", "#" %></li>
  <li><%= link_to "Connexion",   "#" %></li>
</ul>
