<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render 'layouts/head' %>
</head>
<body>
  <div data-role="page" id="first">
    <%= render 'layouts/header' %>    
    <div data-role="content" data-theme="b">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>    
  </div>
</body>
</html>
